{% extends "patient.html" %}

{% block body %}

<!-- Done -->
     <br> <br> <br> <br> <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
                <div class="col-12">
                    <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Appointment form</h3>
                </div>
                <form action="{{ url_for('selectAppointment') }}" method="post">
                    
                    <div class="row g-3">
                        
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Enter Email" name="Email">
                        </div>
                        

                        <div class="col-12">
                
                            <select class="form-select" required name="selectDoctor">
                                <option selected>Doctor</option>

                                
                                {% for i in choice %}

                                <option value= " {{ i.0 }}  "> {{ i.1 }} {{ i.2 }}</option>

                                {% endfor %}
                                

                            </select>
                        </div>

                        <div class="col-12">
                            <textarea class="form-control" placeholder="Description"  name="description"></textarea>
                        </div>
                        <div class="col-12 mt-5">                        
                            <button type="submit" class="btn btn-primary float-end">Book Appointment</button>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock  %}