{% extends "admin.html" %}

<!-- Done -->
   
  {% block body %}
      
      
      <div style="margin-left:5% ; margin-top: 7%;">

          <table class="table table-dark table-striped-columns" style="width: 90%;">
                <thead >
                    <tr>
                          <th style="width:5% ;">ID</th>
                          <th style="width: 20%;">Name Of Patient</th>
                          <th style="width: 20% ;"> Name Of Doctor</th>
                          <th style="width: 20%;">Date</th>
                          <th style="width: 30%;">Discription</th>
                          
                    </tr>
                </thead>


                <tbody>
                  {% for r in dataSendViewDoctor %}

                    <tr>
                        <td style="width: 5%;">{{ r.0 }}</td>
                        <td style="width:20% ;">{{ r.1+" "+r.2 }}</td>
                        <td style="width: 20%;">{{ r.3}}</td>
                        <td style="width: 20%;">{{ r.6}}</td>
                        <td style="width: 30%;">{{ r.5}}</td>
                      
                    </tr>

                  {% endfor %}
                </tbody>


          </table>
      </div>
      <div style="width: 30%; margin-left:35%; margin-top:4%  ; color: rgb(223, 222, 226); text-align: center;">
        <hr >
        <h3>These Are Current Appointments </h3>
        
      </div>
  {% endblock %}


 